* {
  box-sizing: border-box;
}

body {

  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 769px;

}

a {
  color: inherit;
  text-decoration: none;
}

.posot .menubar,
.landing .menubar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
